# Ignore everything
# *
# !scripts/
# !scripts/**
# !.gitignore
# !LICENSE
# !README.md
# !stm32_workspace/
# # !stm32_workspace/stm32_project
# !stm32_workspace/teste
# !Core/Inc
# !.cproject
# !.project
# !*.ld

.metadata
.settings
Debug
*.launch